In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_path='static/data/production_data_sorted.csv'

In [3]:
production_df = pd.read_csv(csv_path)

production_df

,Program,Year,Period,Week Ending,Geo Level,State,State ANSI,Ag District,Ag District Code,County,...,Zip Code,Region,watershed_code,Watershed,Commodity,Data Item,Domain,Domain Category,Value,CV (%)
0,SURVEY,2020,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,"BARLEY - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"753,314,000",NaN
1,SURVEY,2020,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, DRY EDIBLE, (EXCL CHICKPEAS) - PRODUCTI...",TOTAL,NOT SPECIFIED,"1,005,619,000",NaN
2,SURVEY,2020,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CANOLA,"CANOLA - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"602,504,000",NaN
3,SURVEY,2020,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CHICKPEAS,"CHICKPEAS - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"83,210,000",NaN
4,SURVEY,2020,YEAR,NaN,NATIONAL,US TOTAL,NaN,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"61,039,005,000",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,SURVEY,2020,YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BARLEY,"BARLEY - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"29,462,000",NaN
325,SURVEY,2020,YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,BEANS,"BEANS, DRY EDIBLE, (EXCL CHICKPEAS) - PRODUCTI...",TOTAL,NOT SPECIFIED,"16,421,000",NaN
326,SURVEY,2020,YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"26,023,000",NaN
327,SURVEY,2020,YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,HAY & HAYLAGE,"HAY & HAYLAGE - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"449,816,000",NaN
328,SURVEY,2020,YEAR,NaN,STATE,WYOMING,56.0,NaN,NaN,NaN,...,NaN,NaN,0,NaN,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $",TOTAL,NOT SPECIFIED,"10,647,000",NaN

In [4]:
# clean_df=col_df[col_df['Data Item'].str.contains('MEASURED IN \$')]
# clean_df

In [5]:
clean_df= production_df.drop(columns=['Program','Period','Week Ending','Geo Level','State ANSI','Ag District','Ag District Code','County','County ANSI','Zip Code','Region','Domain','Domain Category','watershed_code','Watershed', 'CV (%)'])
clean_df

,Year,State,Commodity,Data Item,Value
0,2020,US TOTAL,BARLEY,"BARLEY - PRODUCTION, MEASURED IN $","753,314,000"
1,2020,US TOTAL,BEANS,"BEANS, DRY EDIBLE, (EXCL CHICKPEAS) - PRODUCTI...","1,005,619,000"
2,2020,US TOTAL,CANOLA,"CANOLA - PRODUCTION, MEASURED IN $","602,504,000"
3,2020,US TOTAL,CHICKPEAS,"CHICKPEAS - PRODUCTION, MEASURED IN $","83,210,000"
4,2020,US TOTAL,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN $","61,039,005,000"
...,...,...,...,...,...
324,2020,WYOMING,BARLEY,"BARLEY - PRODUCTION, MEASURED IN $","29,462,000"
325,2020,WYOMING,BEANS,"BEANS, DRY EDIBLE, (EXCL CHICKPEAS) - PRODUCTI...","16,421,000"
326,2020,WYOMING,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN $","26,023,000"
327,2020,WYOMING,HAY & HAYLAGE,"HAY & HAYLAGE - PRODUCTION, MEASURED IN $","449,816,000"
328,2020,WYOMING,WHEAT,"WHEAT - PRODUCTION, MEASURED IN $","10,647,000"

In [15]:
prd_df=clean_df.rename(columns={"Data Item":"Data_Item"})
prd_df.head()

,Year,State,Commodity,Data_Item,Value
0,2020,US TOTAL,BARLEY,"BARLEY - PRODUCTION, MEASURED IN $","753,314,000"
1,2020,US TOTAL,BEANS,"BEANS, DRY EDIBLE, (EXCL CHICKPEAS) - PRODUCTI...","1,005,619,000"
2,2020,US TOTAL,CANOLA,"CANOLA - PRODUCTION, MEASURED IN $","602,504,000"
3,2020,US TOTAL,CHICKPEAS,"CHICKPEAS - PRODUCTION, MEASURED IN $","83,210,000"
4,2020,US TOTAL,CORN,"CORN, GRAIN - PRODUCTION, MEASURED IN $","61,039,005,000"

In [ ]:
# con.execute('alter table my_table add id serial primary key')

In [10]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\kcwf3\anaconda3\lib\site-packages (2.8.6)

In [18]:
from sqlalchemy import create_engine
import psycopg2 
con_str = 'postgres:myAkina93!@database-1.c6qqzgohsabf.us-east-2.rds.amazonaws.com:5432/project2'
engine = create_engine(f'postgresql://{con_str}')

In [19]:
prd_df.to_sql(name='production_data', con=engine, if_exists='append', index=False)