In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
csv_path='static/data/BBG_price_data.csv'

In [3]:
price_df = pd.read_csv(csv_path)
price_df

,Date,Corn Price,Wheat Price,Soybean Price,Cotton Price,Live Cattle
0,1/4/2010,418.50,557.75,1049.50,76.00,85.375
1,1/5/2010,418.75,553.00,1052.25,73.12,86.325
2,1/6/2010,421.75,567.25,1050.50,73.55,85.950
3,1/7/2010,417.50,557.75,1017.75,72.89,85.925
4,1/8/2010,423.00,568.50,1013.00,72.44,85.825
...,...,...,...,...,...,...
2896,7/2/2021,697.25,645.75,1451.75,86.03,122.000
2897,7/6/2021,656.00,620.00,1363.75,86.38,122.400
2898,7/7/2021,652.50,614.75,1386.50,86.63,120.600
2899,7/8/2021,638.00,612.25,1390.25,85.88,119.275
2900,7/9/2021,629.75,608.50,1404.00,87.99,119.225

In [4]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.1-cp36-cp36m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.1

In [5]:
from sqlalchemy import create_engine
import psycopg2 
con_str = 'postgres:myAkina93!@database-1.c6qqzgohsabf.us-east-2.rds.amazonaws.com:5432/project2'
engine = create_engine(f'postgresql://{con_str}')

In [7]:
price_df.to_sql(name='price_raw_data', con=engine, if_exists='append', index=False)